<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    {{>header}}
    <p>
        <img src="https://tr2.cbsistatic.com/hub/i/r/2017/04/06/46126db3-8f4f-4e54-917b-cd30e0740466/resize/770x/348e2c327307005b801258bd5794dc6f/tony-stark.jpg"/>
    </p>





    {{>footer}}

</body>

</html>

